@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-background: 255, 255, 255;
  --color-primary-foreground: 18, 25, 41;
  --color-accent-background: 249, 168, 212;
  --color-accent-foreground: 0, 0, 0;
}

.dark {
  --color-primary-background: 18, 25, 41;
  --color-primary-foreground: 255, 255, 255;
  --color-accent-background: 249, 168, 212;
  --color-accent-foreground: 0, 0, 0;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: "Fragment Mono";
  src: url("/FragmentMono-Regular.ttf") format("ttf");
}

html {
  @apply scroll-smooth;
}

.shiki {
  @apply mr-auto overflow-x-auto rounded-lg p-4 pt-24 !font-mono;
}

.shiki * {
  @apply !font-mono;
}

@layer components {
  input[type="range"] {
    @apply appearance-none bg-transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply rounded-full bg-background;
  }

  input[type="range"]::-moz-range-track {
    @apply rounded-full bg-background;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-primary;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply h-4 w-4 appearance-none rounded-full bg-primary;
  }

  input[type="range"]::-ms-track {
    @apply rounded-full bg-background;
  }
}

.mark {
  position: relative;
  display: inline-block;
  z-index: 0;
  @apply text-ab_accent-foreground;
}

.mark::before {
  /* Highlight color */
  @apply bg-ab_accent-background;

  content: "";
  position: absolute;
  width: calc(100% + 12px);
  height: 100%;
  left: -6px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-1deg);
}
