@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221.7 39% 11.6%;
    --foreground: 0 0% 98%;
    --card: 223 48% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 327.4 87.1% 81.8%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 223 37% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 223 37% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 223 37% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 37% 20%;
    --input: 223 37% 20%;
    --ring: 327.7 87% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

:root {
  --color-primary-background: 255, 255, 255;
  --color-primary-foreground: 18, 25, 41;
  --color-accent-background: 249, 168, 212;
  --color-accent-foreground: 0, 0, 0;
}

.dark {
  --color-primary-background: 18, 25, 41;
  --color-primary-foreground: 255, 255, 255;
  --color-accent-background: 249, 168, 212;
  --color-accent-foreground: 0, 0, 0;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: "Fragment Mono";
  src: url("/FragmentMono-Regular.ttf") format("ttf");
}

html {
  @apply scroll-smooth;
}

.shiki {
  @apply mr-auto overflow-x-auto rounded-lg p-4 pt-24 !font-mono;
}

.shiki * {
  @apply !font-mono;
}

@layer components {
  input[type="range"] {
    @apply appearance-none bg-transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply rounded-full bg-background;
  }

  input[type="range"]::-moz-range-track {
    @apply rounded-full bg-background;
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-primary;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply h-4 w-4 appearance-none rounded-full bg-primary;
  }

  input[type="range"]::-ms-track {
    @apply rounded-full bg-background;
  }
}

.mark {
  position: relative;
  display: inline-block;
  z-index: 0;
  @apply text-ab_accent-foreground;
}

.mark::before {
  /* Highlight color */
  @apply bg-ab_accent-background;

  content: "";
  position: absolute;
  width: calc(100% + 12px);
  height: 100%;
  left: -6px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-1deg);
}

/* charts */
@layer base {
  :root {
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 327.4, 70%, 50%;

    --chart-2: 87.4, 75%, 55%;

    --chart-3: 137.4, 80%, 55%;

    --chart-4: 47.4, 65%, 60%;

    --chart-5: 267.4, 60%, 45%;
  }
}
